<!doctype html>
<html>
  <head>
    <title><%= meta.title %></title>
    <meta charset="utf-8">
    <%#<meta name="viewport" content="width=1274, user-scalable=no">%>
    <meta name="viewport" content="width=680, user-scalable=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <link rel="stylesheet" href="css/screen.css">
    <link rel="stylesheet" href="css/print.css">
    <link rel="stylesheet" href="css/pygments/<%= meta.pygments_style %>.css">
    <% meta.css.each do |css| %>
      <link rel="stylesheet" href="<%= css %>">
    <% end %>
    <script src="js/jquery-2.1.0.min.js"></script>
    <script src="js/highcharts.js"></script>
    <%= File.read("head.html") if File.exist?("head.html") %>
  </head>
  <body class="list">
    <header class="caption">
      <h1><%= meta.title %></h1>
    </header>
    <% sections.each do |section| %>
      <% if section.show_chapter %>
        <div id="slide-<%= section.number %>-0" data-section="<%= section.number %>" data-sections="<%= sections.length %>" class="slide chapter">
          <div>
            <hgroup>
              <h2><%= section.title %></h2>
            </hgroup>
          </div>
        </div>
      <% end %>
      <% if section.show_toc %>
        <div id="slide-<%= section.number %>-1" data-section="<%= section.number %>" data-sections="<%= sections.length %>" class="slide toc">
          <div>
            <hgroup>
              <h1><%= section.title %></h1>
              <h2>Inhalt</h2>
            </hgroup>
            <ol>
              <% section.slides.map(&:extract_title).compact.reject(&:empty?).uniq.each do |title| %>
                <li><%= title %></li>
              <% end %>
            </ol>
            <footer>
              <%# meta.author %>
            </footer>
          </div>
        </div>
      <% end %>
      <% section.slides.each do |slide| %>
        <% title_slide = section.number == 0 && slide.number == 0 %>
        <div id="slide-<%= slide.id %>" data-section="<%= section.number %>" data-sections="<%= sections.length %>" class="slide <%= slide.classes %>">
          <div>
            <hgroup>
              <% title, subtitle = title_slide ? [slide.extract_title, slide.extract_subtitle] : [section.title, slide.extract_title] %>
              <h1><%= title %></h1>
              <% if subtitle && !subtitle.empty? %>
                <h2><%= subtitle %></h2>
              <% end %>
            </hgroup>
            <%= slide.html %>
            <% unless title_slide %>
              <footer>
                <%# meta.author %>
              </footer>
            <% end %>
          </div>
        </div>
      <% end %>
    <% end %>
  <div class="progress"><div></div></div>
    <script type="text/javascript" async src="js/MathJax/MathJax.js?config=TeX-AMS_HTML"></script>
    <script src="js/script.js"></script>
    <% meta.js.each do |js| %>
      <script src="<%= js %>"></script>
    <% end %>
  </body>
</html>
